<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QCMWeb</display-name>
  <welcome-file-list>
    <welcome-file>accueil.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>
			référence à la ressource BDD pour le pool
		</description>
    <res-ref-name>jdbc/qcm</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>TestBDD</display-name>
    <servlet-name>TestBDD</servlet-name>
    <servlet-class>fr.eni_ecole.qcm.web.servlets.test.TestBDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestBDD</servlet-name>
    <url-pattern>/TestBDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentification</display-name>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>fr.eni_ecole.qcm.web.servlets.Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administration</display-name>
    <servlet-name>Administration</servlet-name>
    <servlet-class>fr.eni_ecole.qcm.web.servlets.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>fr.eni_ecole.qcm.web.servlets.Upload</servlet-class>
    <init-param>
      <description>
    		Répertoire de stockage des illustrations
    		Doit finir par un &quot;\&quot;
    		Correspond au répertoire upload du site
    	</description>
      <param-name>repertoireStockage</param-name>
      <param-value>/home/philippe/eclipse-workspace/QCMWeb/uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltreFormateur</display-name>
    <filter-name>FiltreFormateur</filter-name>
    <filter-class>fr.eni_ecole.qcm.web.filters.FiltreFormateur</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreFormateur</filter-name>
    <servlet-name>Administration</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltreFormateur</filter-name>
    <url-pattern>/administration/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>FiltreStagiaire</display-name>
    <filter-name>FiltreStagiaire</filter-name>
    <filter-class>fr.eni_ecole.qcm.web.filters.FiltreStagiaire</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreStagiaire</filter-name>
    <url-pattern>/passage/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Passage</display-name>
    <servlet-name>Passage</servlet-name>
    <servlet-class>fr.eni_ecole.qcm.web.servlets.Passage</servlet-class>
    <init-param>
      <description>
    		Répertoire de stockage des archives
    		Doit finir par un &quot;\&quot;
    	</description>
      <param-name>repertoireArchivage</param-name>
      <param-value>C:\Projet JAVA QCM\archives\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passage</servlet-name>
    <url-pattern>/passage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Temps</display-name>
    <servlet-name>Temps</servlet-name>
    <servlet-class>fr.eni_ecole.qcm.web.servlets.Temps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Temps</servlet-name>
    <url-pattern>/temps</url-pattern>
  </servlet-mapping>
</web-app>